@use "./variables";



.me {
    background-color: variables.$colour-night;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    h1 {
        color: variables.$colour-lemon;
        font-size: 80px;
        position: relative;
    }
    h2 {
        color: variables.$colour-blue;
        font-size: 60px;
        margin-bottom: 2rem;
    }
    .contactme {
        font-size: 40px;
        text-decoration: none;
        color: variables.$colour-blue;
        border: 1px variables.$colour-blue solid;
        border-radius: 2.5rem;
        padding: 1rem;
    }
    .contactme:hover {
        background-color: variables.$colour-blue;
        color: variables.$colour-lemon;
    }
    .arrow {
        position: absolute;
        bottom: 5px;
        font-size: 80px;
        color: variables.$colour-lemon;
    }
}