section {
    h2 {
        margin-top: 3rem;
        margin-left: 5%;
        margin-bottom: 2rem;
        padding-top: 1rem;
        font-size: 24px;
    }
    .filters-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @media screen and (min-width: 1070px) {
            grid-template-columns: repeat(3, 1fr);
          }
        grid-gap: 1rem;
        margin: 0 2rem;
    }
}
