@use "../Utils/variables.scss" as c;
@use "../Utils/mixins.scss" as m;

footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: c.$colour-darkgrey;
    padding-top: 2rem;
    color: white;
    padding-left: 2rem;
    padding-bottom: 2rem;
    @media (min-width: 900px) {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        justify-content: center;
        padding-left: 0;
        .Shrikhand {
            order: 5;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

i {
    margin-right: 0.5rem;
    width: 1rem;
}