@use "../Utils/variables.scss" as c;
@use "../Utils/mixins.scss" as m;

.btn-explorer {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    @include m.button;
    @include m.boxshadow;
    cursor: pointer;
    &:hover {
        @include m.boxshadowdark;
        opacity: 0.9;
    }
}

.btn-filters {
    display: flex;
    padding: 2rem;
    align-items: center;
    border: none;
    border-radius: 2rem;
    @include m.boxshadow;
    background-color: white;
    font-size: 16px;
    font-family: 'roboto';
    cursor: pointer;
    & i {
        color: c.$colour-darkgrey;
        margin-right: 2rem;
        position: absolute;
    }
    &:hover {
        background-color: #F5EDFF;
        @include m.boxshadowdark;
    }
    &:hover i {
        color: c.$colour-purple;
    }
    p {
        margin-left: 1rem;
    }
}