@use "../Utils/variables.scss" as c;
@use "../Utils/mixins.scss" as m;

header {
    a {
        text-decoration: none;
        color: inherit;
    }
    i {
        font-size: 30px;
        position: absolute;
        left: 1rem;
        top: calc(50% - 15px);
    }
}

.resto-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.menu-section {
    width: 100%;
    border-radius: 3rem 3rem 0 0;
    padding-bottom: 3rem;
    background-color: c.$colour-backgroundgrey;
    position: sticky;
    margin-top: -50px;
    top: 400px;
    h2 {
        margin: 0;
        padding: 0;
    }
    @media (min-width: 750px) {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        h3 {
            margin-left: 10%;
        }
        h2 {
            margin-left: 18%;
        }
        i {
            margin-right: 18%;
        }
    }
    h4 {
        text-align: left;
    }
    .menu-title {
        display: flex;
        padding-top: 2rem;
        padding-left: 2rem;
        i {
            position: absolute;
            font-size: 2rem;
            width: 32px;
            right: 20px;
        }
        .fa-solid {
            @include m.heart;
            &:hover {
                opacity: 1;
            }
        }
    }
    h3 {
        padding-top: 2rem;
        padding-left: 2rem;
        margin-right: auto;
        position: relative;
        &::after {
            content: "";
            height: 0.25rem;
            width: 2.5rem;
            background-color: c.$colour-mint;
            position: absolute;
            top: 3.5rem;
            left: 2rem;
        }
    }
    button {
        margin-top: 4rem;
        text-align: center;
        display: block;
    }
}

.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    & h3::after {
        content: "";
        display: block;
        width: 2.5rem;
        height: 3px;
    }
    & .menu-list {
        height: 4.5rem;
        width: 80%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1rem;
        display: flex;
        overflow: hidden;
        &__content {
            padding: 1rem;
            overflow: hidden;
            h4 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .price {
            margin-left: auto;
            padding: 1.5rem 1rem 1.5rem 0;        
        }
        & .checkmark {
            display: grid;
            place-items: center;
            color: c.$colour-darkgreen;
            background-color: c.$colour-mint;
            border-radius: 0 1rem 1rem 0;
            width: 3rem;
            margin-right: -3rem;
            transition: 400ms ease-in-out;
            & i {
                color: c.$colour-mint;
                background: white;
                border-radius: 50%;
                padding: 0.2rem 1.2rem 0.2rem 0.2rem;
            }
        }
        &:hover {
            cursor: pointer;
            & .checkmark {
                margin-right: 0;
            }
        }
    }
}

/* Animation menu */ 

.menu-list {
    animation: appear 2s ease-in-out;
}
.delay-1 {
    animation-delay: 100ms;
}
.delay-2 {
    animation-delay: 200ms;
}
.delay-3 {
    animation-delay: 300ms;
}
.delay-4 {
    animation-delay: 400ms;
}
.delay-5 {
    animation-delay: 500ms;
}
.delay-6 {
    animation-delay: 600ms;
}
.delay-7 {
    animation-delay: 700ms;
}
.delay-8 {
    animation-delay: 800ms;
}
.delay-9 {
    animation-delay: 900ms;
}

@keyframes appear {
     0% {
        transform: translateY(50%);
        opacity: 0;
     }
     100% {
        transform: translateY(0);
        opacity: 1;
     }
}
